---
import { GRADE_COLORS, gradeFamily } from '../data/helpers';

interface Props {
  grade: string;
  gradeGroup: string;
}

const { grade, gradeGroup } = Astro.props;
const color = GRADE_COLORS[gradeFamily(gradeGroup)];
---

<span
  class="grade-pill"
  style={`background-color: ${color}`}
>
  {grade || '?'}
</span>
